.MenuBar{
    background-color: #3d3d3d;
    width: 313px;
    height: 668px;
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
}
.TextBody{
    color: white;
}

.ul {
    padding-left: 0;
    margin-block-end: 0;
    display: flex;
}

.ul li {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
    padding: 10px 0 10px 0px;
    gap: 15px;
    cursor: pointer;
}

.ul li:hover{
    background-color: #696969;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.DropMenu{
    background-color: black;
    opacity: 0.5;
}

.MenuItems{
    position: absolute;
    opacity: 0;
}

.MenuItemsActive{
    transition: 3s;
    opacity: 1;
}

.MenuItem{
    font-size: 0.8em;
    padding: 10px;
}

.MenuItem:hover {
    border-radius: 20px;
    background-color: #696969;
}

.TextMenu {
    margin-right: 120px;
}

.IconItems {
    color: yellow;
}
.IconTag > svg {
    margin-left: 35px;
    margin-top: 2px;
}
.TagOption {
    width: 265px;
    display: flex;
}
.SettingTag{
    margin-top: 12px;
    padding-right: 20px;
}
.SettingTags{
    padding-left: 10px;
}
.SettingTags:hover{
    color: #3ea330;
    background-color: #696969;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.CommonMenuComp{
    margin-top: 10px;
    padding-top: 10px;
    width: auto;
    height: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}
.CommonMenuComp:hover{
    background-color: #696969;
    border-radius: 20px;
}
.AddTagsMenu{
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 320px;
    width: 120px;
    height: auto;
    background-color: #707b6e;
    position: absolute;
    opacity: 0;
}
.AddTagsMenuActive{
    transition: 1s;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 320px;
    width: 120px;
    height: auto;
    background-color: #707b6e;
    position: absolute;
    opacity: 1;
}
.DropMenuItems{
    width: 100px;
    height: 50px;
}
.DropDownItem{
    display: block;
    background-color: aqua;
    padding: 0px 10px 10px 10px;
}
.DropDownButtonArea{
    display: block;
}
.TakeColorMenu{
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.SaveButton{
    background-color: #b8b8b8;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
}
.SaveButton:hover{
    background-color: #a8a8a8;
}