@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  font-family: "Poppins";
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBody {
  display: flex;
  background-color: #656565;
  height: 1000px;
}

.hide-div {
  display: none;
}

.hiddenPriorities {
  z-index: 1;
  position: absolute;
  background-color: #918787;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 2px;
  width: 105px;
  font-size: 15px;
}

.hiddenPriorities > ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.hiddenPriorities > ul >li {
  cursor: pointer;
  margin-top: 3px;
  list-style-type: none;
}

.hiddenPriorities > ul >li >svg {
  margin-right: 5px;
}

.priorityBlock > hr {
  margin: 0 10px;
  outline: none;
}

.hide-div {
  display: none;
}

.hiddenTags {
  z-index: 1;
  position: absolute;
  background-color: #918787;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 80px;
  width: 105px;
  font-size: 15px;
}

.hiddenTags > ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.hiddenTags > ul >li {
  cursor: pointer;
  list-style-type: none;
}

.hiddenTags > ul >li >svg {
  margin-right: 5px;
}

.tagBlock > hr {
  margin: 0 10px;
  outline: none;
}

